aenum==3.1.15
albucore==0.0.13
albumentations==1.4.10
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
APScheduler==3.11.0
astor==0.8.1
asttokens==3.0.0
attrs==24.3.0
azure-core==1.32.0
azure-storage-blob==12.24.1
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.1
case_conversion==2.1.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
clipboard==0.0.4
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.0
cursor==1.3.5
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.12
decorator==5.1.1
dill==0.3.9
django-environ==0.12.0
environ==1.0
et_xmlfile==2.0.0
executing==2.1.0
fire==0.7.0
fonttools==4.55.4
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
html_text==0.6.2
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imgaug==0.4.0
infi.systray==0.1.12.1
inflect==7.5.0
ipykernel==6.29.5
ipython==8.31.0
isodate==0.7.2
jedi==0.19.2
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
lazy_loader==0.4
lmdb==1.6.2
lxml==5.3.0
lxml_html_clean==0.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
maybe-else==0.2.1
mbstrdecoder==1.1.4
mdurl==0.1.2
more-itertools==10.6.0
moviepy==2.1.2
msal==1.31.1
msoffcrypto-tool==5.4.2
narwhals==1.23.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
O365==2.0.38
oauthlib==3.2.2
office365==0.3.15
Office365-REST-Python-Client==2.5.14
olefile==0.47
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==24.2
paddleocr==2.9.1
paddlepaddle==2.6.2
pandas==2.2.3
parsedatetime==2.6
parso==0.8.4
pathmagic==0.3.14
pdf2image==1.17.0
pillow==10.4.0
platformdirs==4.3.6
prettierfier==1.0.3
proglog==0.1.10
prompt_toolkit==3.0.50
protobuf==3.20.2
psutil==6.1.1
pure_eval==0.2.3
pyarrow==19.0.0
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pyinstrument==5.0.1
pyiotools==0.3.18
PyJWT==2.10.1
pymiscutils==0.3.14
pyparsing==3.2.1
PyPDF2==3.0.1
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
pysubtypes==0.3.18
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.11.0
readchar==4.2.1
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.22.3
scikit-image==0.25.0
scikit-learn==1.6.1
scipy==1.15.1
Send2Trash==1.8.3
setuptools==75.8.0
shapely==2.0.6
simplejson==3.19.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
streamlit==1.41.1
tabulate==0.9.0
tenacity==9.0.0
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2025.1.10
toml==0.10.2
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.4.1
typepy==1.3.4
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
XlsxWriter==3.2.0
